#wp-submit, #signup_submit, .wpcf7-submit, #post-topic-reply #submit, #new-topic-post #submit, .my-account #submit, #new-topic-button, .page-template-search-page-php #search-submit, #comment-submit { background-color:#e6d973; background-image: url( "../images/bg-button_a.png" ); text-shadow: 1px 1px 0px #ffffff; border:1px solid #39bbff;}
#mytabs, #mytabs2, .comment-count-child { background-image: url( "../images/bg-tabs_a.png" ); border:1px solid #00a9cf; box-shadow: inset 0px 0px 0px 1px #5ee3ff; }
#ajaxsearchpro1 .probox { background:url( "../images/search_a.png" ) no-repeat; }
.item-list-tabs .customStyleSelectBoxInner { background:url( "../images/select2_a.png" ) no-repeat right center; }
header .tile { background-color:#01d0ff; }
header .tile2, #front-login-submit { background-color:#01d0ff; }
#object-nav ul li, #object-nav2 ul li { background-image: url( "../images/spacer-tab_a.png" ); }
#object-nav ul li:hover, #object-nav2 ul li:hover { background:#00c0ea; background-image: url( "../images/spacer-tab-selected_a.gif" ); background-repeat: repeat-y; background-position:right top; }
#object-nav ul li a, #object-nav2 ul li a, #subnav ul li a, .comment-count-child, #metro .tile-title a { text-shadow: 1px 1px 0px #00a6cb; }
#object-nav ul li.current, #object-nav2 ul li.current { background:#00c0ea; background-image: url( "../images/spacer-tab-selected_a.gif" ); background-repeat: repeat-y; background-position:right top; }
div.item-list-tabs ul li a span { background: #00c0ea; border:1px solid #00b5dd; }
div.item-list-tabs ul li.selected a span, div.item-list-tabs ul li.current a span, div.item-list-tabs ul li a:hover span { background-color: #1bd5ff; }
#subnav { background-image: url( "../images/spacer-subnav_a.png" ); }
#subnav ul li a { text-shadow:#00a6cb 1px 1px 0px; }
.page-title { text-shadow:#7b7b7b 1px 1px 0px; background:#08e1ff; background: linear-gradient(to bottom, #0ce3ff 0%,#00e1ff 100%); border:1px solid #00c3dd; box-shadow: inset 0px 0px 0px 1px #5ee3ff; }
.post-title { box-shadow: inset 0px 0px 0px 1px #5ee3ff; text-shadow:#7b7b7b 1px 1px 0px; background:#08e1ff; background: linear-gradient(to bottom, #0ce3ff 0%,#00e1ff 100%); border:1px solid #00c3dd; }
div#bbpress-forums h3 { text-shadow:#7b7b7b 1px 1px 0px; background:#08e1ff; background: linear-gradient(to bottom, #0ce3ff 0%,#00e1ff 100%); border:1px solid #00a9cf; box-shadow: none; border-top:none; }
.blog-bottom { background-image: url( "../images/spacer-blog-bottom_a.gif" ); }
.blog-bottom-spacer { background-image: url( "../images/spacer-post-v_a.gif" ); }
ul li.forum-lastposts .activity-content { background:#00d7da; }
ul li.forum-lastposts .activity-content:hover { background:#00c5c7; }
nav ul li.parent:hover { background-image: url( ../images/menu-arrow1_a.png ); }
nav ul li ul li.parent:hover { background-image: url( ../images/menu-arrow2_a.png ); }
nav ul li.current-menu-item { background:#00caf6; }
nav ul ul { border-top:3px solid #f69200; }
span.activity { background:#00d7da; }
span.activity:hover { background:#00c5c7; }
.comment-options .comment-reply-link, .comment-options .comment-edit-link { background:#00d7da; }
.icon-share { background-image: url( ../images/icon-share_a.png ); }
.buttonCon .theButton { background: url("../slider/circlebutton_a.png") no-repeat; }
.slider-more { background-color:#01d0ff; }
#metro .tile-title span { background-image: url( "../images/transparent_a.png" ); }