@media screen and (max-width:1240px)
{
#main { width:960px; }
#header-very-top { width:960px; }
#content { width:643px; }
#content.bbpress-page { width:675px; }
.registration #content, .page-template-login-php #content, .page-template-recovery-php #content, .directory.groups #content, .page-template-search-page-php #content, .activity-permalink #content, .page-template-onecolumn-page-php #content, .directory.blogs #content, .create-blog #content { width:925px; }
footer { width:960px; }
.page-title { font-size:55px; line-height:65px; }

#metro { width:960px; }
#metro .tile { margin:0 15px 18px 0; border-width:6px; position:relative; }
#metro .tile1, #metro .tile1 img { height:224px!important; width:190px!important; }
#metro .tile2, #metro .tile2 img { height:224px!important; width:325px!important; }
#metro .tile3, #metro .tile3 img { height:224px!important; width:190px!important; }
#metro .tile4 { height:224px; width:156px!important; margin:0 0px 20px 0; background:none; border:none; }
#metro .tile4a { width:156px!important; height:100px; margin-bottom:12px; }
#metro .tile4a img { width:156px!important; height:100px; }
#metro .tile4b, #metro .tile4b img { width:156px!important; height:100px; }
#metro .tile5, #metro .tile5 img { height:154px; width:190px!important; }
#metro .tile6, #metro .tile6 img { height:154px; width:190px!important; }
#metro .tile7, #metro .tile7 img { height:154px; width:324px!important; }
#metro .tile8, #metro .tile8 img { height:154px; width:156px!important; margin:0 0px 0 0; }

#metro .tile-title { position:absolute; line-height:1.4em; }
#metro .tile1 .tile-title { bottom:27px; left:3px; padding:10px; font-size:22px; width:90%; }
#metro .tile2 .tile-title { bottom:27px; left:15px; padding:5px; font-size:24px; width:85%; }
#metro .tile3 .tile-title { top:7px; left:3px; padding:10px; font-size:20px; width:90%; }
#metro .tile4a .tile-title, #metro .tile4b .tile-title { top:2px; left:3px; padding:10px; font-size:12px; width:90%; }
#metro .tile5 .tile-title { top:10px; left:3px; padding:10px; font-size:16px; width:90%; }
#metro .tile6 .tile-title { top:10px; left:3px; padding:10px; font-size:16px; width:90%; }
#metro .tile7 .tile-title { bottom:15px; left:10px; padding:10px; font-size:20px; width:90%; }
#metro .tile8 .tile-title { top:5px; left:3px; padding:10px; font-size:16px; width:90%; }

#metro .comment-count { bottom:-6px; right:-6px; border-width:6px; border-width:6px; }
#metro .comment-count-child { font-size:18px; padding:2px 7px; }

#metro .tile4a .comment-count, #metro .tile4b .comment-count { display:none; }

#sidebar { width: 282px; }
.sidebar-title { font-size:22px; }
#sidebar ul { width:240px; }
#sidebar img { max-width:100%; }
ul#blog-categories-left { width:100px; }
ul#blog-categories-right { width:100px; margin-left:15px; }
.recent-post-title { width:170px; }
.recent-post-title a { font-size:12px; }
.recent-post-thumb img { width:50px; height:50px; margin-right:10px; }
ul li.forum-lastposts .activity-content { width:160px; font-size:11px; }
ul li.forum-lastposts .activity-content a, ul li.forum-lastposts .activity-content p { font-size:11px!important; }
ul li.forum-lastposts .activity-content-details, ul li.forum-lastposts .activity-content-details a { font-size:11px; }

#front-user-login, #front-user-pass { width:200px; }

.page-template-frontpage1-php .group-box, .page-template-frontpage2-php .group-box, .page-template-frontpage2-php .blog-thumbs-view-entry, .page-template-frontpage3-php .group-box, .page-template-frontpage3-php .blog-thumbs-view-entry, .page-template-frontpage4-php .group-box { margin:5px 25px 24px 9px; }
.my-groups .group-box { margin:5px 11px 11px 12px; }
.directory.groups .group-box { margin:5px 27px 27px 21px; }

.frontpage-bottom-left { width:280px; margin-right:15px; padding-right:15px; }
.frontpage .front-member-item img { width:50px; height:50px; }
.frontpage-bottom-right { width:325px; }
.frontpage .front-box ul li.forum-lastposts .activity-content { width:235px; }

.post-title { line-height:50px; }
.post-title a { font:32px QuicksandBook; }
.blog-bottom-spacer { margin:1px 8px 0 8px; }
.blog-bottom-category, .blog-bottom-author, .blog-bottom-date, a.blog-bottom-comments, .blog-bottom-tags { font:12px Open Sans; }
div.thumbnail { width:97%; }

div#item-header div#item-header-content { width:435px; }
.bp-user div#item-header div#item-header-content { width:440px; }
#admins-moderators { top:-14px; right:0px; }

td.forum-head-counter { width:80px; }
td.forum-counter-cell { width:80px; }
td.forum-head-freshness { width:170px; }
td.forum-freshness-cell { width:170px; }
.topic-title a.forum-post-title { font-size:16px }
table#topic-post-list tr td.post-author-cell { width:103px; }

.forum-head-counter.posts-count, .forum-counter-cell.posts-count { display:none; }

#bbpress-forums h3 { font:32px QuicksandBook; line-height:45px; }

#object-nav ul li, #object-nav2 ul li { padding:5px 2px; }
.bp-user #object-nav ul li { padding:5px 0px; }

.page-template-search-page-php #search-form { margin:140px 0 140px 120px; width:690px; }

#comments { background-position: 570px 0; }
.commentlist div.comment-content { width:460px; }

ol.commentlist ul.children li .comment-body { padding-left:92px; width:552px; }
ol.commentlist ul.children li ul li .comment-body { padding-left:154px; width:490px; }
ol.commentlist ul.children li ul li ul li .comment-body { padding-left:216px; width:428px; }
ol.commentlist ul.children li ul li ul li ul li .comment-body { padding-left:216px; width:428px; }
ol.commentlist ul.children li ul  li ul li ul li ul li .comment-body { padding-left:216px; width:428px; }
ol.commentlist ul.children li ul li ul li ul li ul li ul li .comment-body { padding-left:216px; width:428px; }

ol.commentlist ul.children .comment-content { width:380px; }
ol.commentlist ul.children ul .comment-content { width:318px; }
ol.commentlist ul.children ul ul .comment-content { width:256px; }
ol.commentlist ul.children ul ul ul .comment-content { width:256px; }
ol.commentlist ul.children ul ul ul ul .comment-content { width:256px; }
ol.commentlist ul.children ul ul ul ul ul .comment-content { width:256px; }

#blogs-list li { margin:20px 13px 0px 20px; }

}




















@media screen and (max-width:960px)
{
#main { width:720px; }
#header-very-top { width:720px; }
nav ul li { padding:5px 9px; margin-right:2px; }
header { height:auto; }
#header-left { margin:0 auto; text-align: center; }
#header-right { margin:0 auto; margin-top:50px; margin-bottom:20px; float:none; }
#logo { float:none; margin-top:20px; margin-left:auto; margin-right:auto; }
#content { width:423px; }
#content.bbpress-page { width:455px; }
.registration #content, .page-template-login-php #content, .page-template-recovery-php #content, .directory.groups #content, .page-template-search-page-php #content, .activity-permalink #content, .page-template-onecolumn-page-php #content, .directory.blogs #content, .create-blog #content { width:685px; }
footer { width:720px; }
.page-title { font-size:55px; line-height:65px; }

#metro { width:720px; margin:50px 0 30px 0; }
#metro .tile { margin:0 15px 18px 0; border-width:3px; position:relative; }
#metro .tile1, #metro .tile1 img { height:168px!important; width:142px!important; }
#metro .tile2, #metro .tile2 img { height:168px!important; width:243px!important; }
#metro .tile3, #metro .tile3 img { height:168px!important; width:142px!important; }
#metro .tile4 { height:168px; width:117px!important; margin:0 0px 20px 0; background:none; border:none; }
#metro .tile4a { width:117px!important; height:75px; margin-bottom:12px; }
#metro .tile4a img { width:117px!important; height:75px; }
#metro .tile4b, #metro .tile4b img { width:117px!important; height:75px; }
#metro .tile5, #metro .tile5 img { height:115px; width:142px!important; }
#metro .tile6, #metro .tile6 img { height:115px; width:142px!important; }
#metro .tile7, #metro .tile7 img { height:115px; width:243px!important; }
#metro .tile8, #metro .tile8 img { height:115px; width:117px!important; margin:0 0px 0 0; }

#metro .tile-title { position:absolute; line-height:1.4em; }
#metro .tile1 .tile-title { top:10px; left:0px; padding:10px; font-size:14px; width:90%; }
#metro .tile2 .tile-title { top:10px; left:15px; padding:5px; font-size:16px; width:85%; }
#metro .tile3 .tile-title { top:3px; left:0px; padding:10px; font-size:15px; width:90%; }
#metro .tile4a .tile-title, #metro .tile4b .tile-title { top:0px; left:0px; padding:5px; font-size:11px; width:90%; }
#metro .tile5 .tile-title { top:0px; left:0px; padding:10px; font-size:12px; width:90%; }
#metro .tile6 .tile-title { top:0px; left:0px; padding:10px; font-size:12px; width:90%; }
#metro .tile7 .tile-title { bottom:15px; left:10px; padding:10px; font-size:14px; width:90%; }
#metro .tile8 .tile-title { top:5px; left:3px; padding:10px; font-size:12px; width:90%; }

#metro .comment-count { bottom:-3px; right:-3px; border-width:3px; border-width:3px; }
#metro .comment-count-child { font-size:18px; padding:2px 7px; }
#metro .tile4 .comment-count, #metro .tile8 .comment-count { display:none; }

#sidebar { width: 262px; }
.sidebar-title { font-size:22px; padding:12px 10px; }
.sidebar-box-child { padding:0 10px 0 10px; }
#sidebar ul { width:240px; }
#sidebar img { max-width:100%; }
ul#blog-categories-left { width:100px; }
ul#blog-categories-right { width:100px; margin-left:15px; }
.recent-post-title { width:170px; }
.recent-post-thumb img { width:50px; height:50px; margin-right:10px; }
ul li.forum-lastposts .activity-content { width:160px; font-size:11px; }
ul li.forum-lastposts .activity-content a, ul li.forum-lastposts .activity-content p { font-size:11px!important; }
ul li.forum-lastposts .activity-content-details, ul li.forum-lastposts .activity-content-details a { font-size:11px; }

#front-user-login, #front-user-pass { width:200px; }

.page-template-frontpage1-php .group-box, .page-template-frontpage2-php .group-box, .page-template-frontpage3-php .group-box, .page-template-frontpage4-php .group-box { margin:5px 15px 24px 12px; }
.page-template-frontpage2-php .blog-thumbs-view-entry, .page-template-frontpage3-php .blog-thumbs-view-entry { margin:5px 22px 24px 9px; }
.blog-thumb img { width:185px; height:auto; }
.my-groups .group-box { margin:5px 25px 17px 3px; }
.directory.groups .group-box { margin:5px 8px 14px 27px; }

#frontpage-info-big { font:140px QuicksandBook;  }
#frontpage-info { font:18px QuicksandBook; }

.frontpage-bottom-left { width:410px; margin-right:15px; padding-right:15px; border-right:none; }
.frontpage .front-member-item img { width:60px; height:60px; }
.frontpage-bottom-right { width:410px; }
.frontpage .front-box ul li.forum-lastposts .activity-content { width:335px; }
.frontpage .front-box ul li.forum-lastposts .activity-content { font-size:13px; }
.frontpage .front-box ul li.forum-lastposts .activity-content a, .frontpage .front-box ul li.forum-lastposts .activity-content p { font-size:13px!important; }

.post-title { line-height:50px; }
.post-title a { font:32px QuicksandBook; }
.blog-bottom-category, .blog-bottom-author, .blog-bottom-date, a.blog-bottom-comments, .blog-bottom-tags { font:12px Open Sans; }
.blog-bottom-tags, .blog-bottom-spacer-tags { display:none; }

#item-header-avatar { width:135px; }
#item-header-avatar img { width:135px; height:auto; }
div#item-header div#item-header-content { width:270px; }
#item-header-content p { font-size:13px; line-height:20px; }
.bp-user div#item-header div#item-header-content { width:249px; margin-left:10px; }
#admins-moderators { top:-14px; right:0px; }
#admins-moderators ul li img { width:15px!important; height:15px!important; }
#admins, #moderators { margin-left:10px; }

td.forum-author-cell img { width:45px; height:45px; }
td.forum-head-counter, td.forum-counter-cell { width:70px; }
td.forum-head-freshness, td.forum-freshness-cell { width:90px; padding-right:0px!important; }
.topic-title a.forum-post-title { font-size:16px }
.topic-freshness img { display:block; width:40px; height:40px; }
.last-poster-avatar { width:70px; padding-bottom:6px; overflow:hidden; }
.last-poster-right { margin-left:0px; margin-top:5px; width:70px; }
.topic-counter { color:#cccccc; font:36px QuicksandBold;  padding-top:0px; background-image:none; }
.forum-table .forum-head-author, .forum-table .forum-author-cell { display:none }

#bbpress-forums h3 { font:24px QuicksandBold!important; line-height:38px!important; }

#object-nav ul li, #object-nav2 ul li { padding:5px 2px; }
#object-nav ul li a, #object-nav2 ul li a { font:13px Open Sans; font-weight:bold; }
.bp-user #object-nav ul li { padding:5px 0px; }
#tabs-container .tabs-nav li, #tabs-container2 .tabs-nav2 li { padding:14px 21px; }

.page-template-search-page-php #search-form { margin:100px 0 100px 0px; width:690px; }

#comments { background-image:none; }
.commentlist div.comment-content { width:340px; }
.comment-counter { display:none; }

ol.commentlist ul.children li .comment-body { padding-left:92px; width:322px; }
ol.commentlist ul.children li ul li .comment-body { padding-left:154px; width:260px; }
ol.commentlist ul.children li ul li ul li .comment-body { padding-left:216px; width:188px; }
ol.commentlist ul.children li ul li ul li ul li .comment-body { padding-left:216px; width:188px; }
ol.commentlist ul.children li ul  li ul li ul li ul li .comment-body { padding-left:216px; width:188px; }
ol.commentlist ul.children li ul li ul li ul li ul li ul li .comment-body { padding-left:216px; width:188px; }

ol.commentlist ul.children .comment-content { width:250px; }
ol.commentlist ul.children ul .comment-content { width:188px; }
ol.commentlist ul.children ul ul .comment-content { width:120px; }
ol.commentlist ul.children ul ul ul .comment-content { width:120px; }
ol.commentlist ul.children ul ul ul ul .comment-content { width:120px; }
ol.commentlist ul.children ul ul ul ul ul .comment-content { width:120px; }

#respond input#author, #respond input#email, #respond input#url { width:250px!important; }

ul#activity-stream li .activity-comments ul { margin-left:10px; }

.wpcf7-form-control-wrap textarea { width:390px!important; }

#blogs-list li { margin:20px 10px 0px 10px; }

.one_fourth, .one_fifth, .one_sixth { width:100%; }

}






















@media screen and (max-width:760px)
{
#main { width:300px; }
#header-very-top { width:300px; }
#top-bar-right { float:none; text-align:center; margin-top:15px; }
#ajaxsearchpro1 { margin:0 auto; }
#top-search-container { margin:0 auto; }
nav { display:none; }
#navigation-320 { display:block; text-align:center; } 
#navigation-320 select { font-size:14px; border: 1px solid #dedede; margin:0 auto; }
#navigation-320 select option { font-size:12px; }
header { height:540px; overflow:hidden; }
#header-left { margin:0 auto; text-align: center; width:300px; }
#header-right { margin:0 auto; margin-top:30px; margin-bottom:20px; float:none; width:265px; height:370px; }
#logo { float:none; margin-top:20px; margin-left:auto; margin-right:auto; }
#content { width:266px; }
#content.bbpress-page { width:298px; }
.registration #content, .page-template-login-php #content, .page-template-recovery-php #content, .directory.groups #content, .page-template-search-page-php #content, .activity-permalink #content, .page-template-onecolumn-page-php #content, .directory.blogs #content, .create-blog #content { width:265px; }
footer { width:300px; }
.page-title { font-size:32px; line-height:45px; }

#metro { width:300px; margin:50px 0 30px 0; }
#metro .tile { margin:0 15px 18px 0; border-width:3px; position:relative; }
#metro .tile1, #metro .tile1 img { height:243px!important; width:294px!important; }
#metro .tile2, #metro .tile2 img { height:203px!important; width:294px!important; }
#metro .tile3, #metro .tile3 img { height:170px!important; width:145px!important; }
#metro .tile4 { height:170px; width:117px!important; margin:0 0px 20px 0; background:none; border:none; }
#metro .tile4a { width:128px!important; height:77px; margin-bottom:12px; }
#metro .tile4a img { width:128px!important; height:77px; }
#metro .tile4b, #metro .tile4b img { width:128px!important; height:75px; }
#metro .tile5, #metro .tile5 img { height:220px; width:294px!important; }
#metro .tile6, #metro .tile6 img { height:220px; width:294px!important; }
#metro .tile7, #metro .tile7 img { height:140px; width:294px!important; }
#metro .tile8, #metro .tile8 img { display:none; }

#metro .tile-title { position:absolute; line-height:1.4em; }
#metro .tile1 .tile-title { top:0px; left:0px; padding:10px; font-size:28px; width:90%; }
#metro .tile2 .tile-title { bottom:27px; left:15px; padding:5px; font-size:24px; width:85%; }
#metro .tile3 .tile-title { top:3px; left:0px; padding:10px; font-size:16px; width:90%; }
#metro .tile4a .tile-title, #metro .tile4b .tile-title { top:0px; left:0px; padding:5px; font-size:12px; width:90%; }
#metro .tile5 .tile-title { top:0px; left:0px; padding:10px; font-size:28px; width:90%; }
#metro .tile6 .tile-title { top:0px; left:0px; padding:10px; font-size:28px; width:90%; }
#metro .tile7 .tile-title { bottom:15px; left:10px; padding:10px; font-size:18px; width:90%; }
#metro .tile8 .tile-title { top:5px; left:3px; padding:10px; font-size:12px; width:90%; }

#metro .comment-count { bottom:-3px; right:-3px; border-width:3px; border-width:3px; }
#metro .comment-count-child { font-size:18px; padding:2px 7px; }
#metro .tile4 .comment-count, #metro .tile8 .comment-count { display:none; }

#sidebar { width: 298px; border-left:1px solid #eaeaea; }
.sidebar-title { font-size:22px; padding:12px 10px; }
.sidebar-box-child { padding:0 10px 0 10px; }
#sidebar ul { width:260px; }
#sidebar img { max-width:100%; }
ul#blog-categories-left { width:100px; }
ul#blog-categories-right { width:100px; margin-left:15px; }
.recent-post-title { width:190px; }
.recent-post-thumb img { width:50px; height:50px; margin-right:10px; }
ul li.forum-lastposts .activity-content { width:180px; font-size:11px; }
ul li.forum-lastposts .activity-content a, ul li.forum-lastposts .activity-content p { font-size:11px!important; }
ul li.forum-lastposts .activity-content-details, ul li.forum-lastposts .activity-content-details a { font-size:11px; }

#front-user-login, #front-user-pass { width:220px; }

.page-template-frontpage1-php .group-box, .page-template-frontpage2-php .group-box, .page-template-frontpage3-php .group-box, .page-template-frontpage4-php .group-box { margin:15px 0px 15px 38px; }
a.group-box-image img, .blog-thumb img { width:185px; height:auto; }
.my-groups .group-box { margin:15px 0px 15px 28px; }
.directory.groups a.group-box-image img { width:185px; height:auto; }
.directory.groups .group-box { margin:15px 0px 15px 38px; }

ul .blog-thumbs-view li.blog-thumbs-view-entry { margin-left:38px; }

#frontpage-info-big { font:80px QuicksandBook;  }
#frontpage-info { font:18px QuicksandBook; }

.frontpage-bottom-left { width:260px; margin-right:15px; padding-right:15px; border-right:none; }
.frontpage .front-member-item img { width:44px; height:44px; }
.frontpage-bottom-right { width:260px; }
.frontpage .front-box ul li.forum-lastposts .activity-content { width:175px; }
.frontpage .front-box ul li.forum-lastposts .activity-content { font-size:13px; }
.frontpage .front-box ul li.forum-lastposts .activity-content a, .frontpage .front-box ul li.forum-lastposts .activity-content p { font-size:13px!important; }

.post-title { line-height:35px; }
.post-title a { font:22px QuicksandBook; }
.blog-bottom{ display:none; }

#item-header-avatar { width:175px; }
#item-header-avatar img { width:175px; height:auto; }
div#item-header div#item-header-content { width:260px; margin-top:10px; margin-left:0px; }
#item-header-content p { font-size:13px; line-height:20px; }
.bp-user div#item-header div#item-header-content { width:260px; margin-top:0px; margin-left:0px; }
.bp-user #item-header-avatar img { width:150px; height:150px; }
#admins-moderators { top:0px; right:0px; width:100px; }
#admins-moderators ul li img { width:15px!important; height:15px!important; }
#admins, #moderators { margin-left:10px; }

table.forum-table tbody tr td { padding:10px 5px; }
table.forum-table thead tr td { padding:10px 5px!important; }
table.forum-table tr.forum-head { font-size:11px; padding:4px 0; font-family:Open Sans; }
table.forum-table tr.forum-head td.forum-head-topic { padding-left:10px!important; }
table#topic-post-list tr td.post-author-cell, table#topic-post-list tr td.forum-head-author { width:70px; }
table#topic-post-list tr td.post-author-cell .post-author { width:60px; margin-left:0px; }
.post-author .bbp-author-role { padding:0px 3px; }
table#topic-post-list tr td.post-author-cell img { width:50px; height:50px; }
td.forum-author-cell img { width:40px; height:40px; }
a.bbp-author-name { font-weight:normal!important; font-size:12px; }
.forum-head-counter, .forum-counter-cell { display:none; }
td.forum-head-freshness, td.forum-freshness-cell { width:90px; padding-left:20px!important; border-left:1px solid #eaeaea; }
.topic-title a.forum-post-title { font-size:16px }
.last-poster-right { margin-left:0px; margin-top:5px; width:90px; }
.last-poster-avatar { width:60px; padding-bottom:6px; overflow:hidden; }
.topic-freshness img { display:block; width:50px; height:50px; }
.topic-counter { color:#cccccc; font:28px QuicksandBold;  padding-top:0px; background-image:none; }
.forum-topic-cell { padding-left:10px!important; }


div#topic-meta h3 { font:26px QuicksandBook; line-height:34px; }
.bbp-pagination-links { float:left; margin-top:14px; }

#new-post .bbp-form, #bbp_reply_content_tbl, .bbp-the-content-wrapper, #wp-bbp_reply_content-wrap, #wp-bbp_reply_content-editor-tools, .mceFirst, #bbp_reply_content_parent, #bbp_reply_content_tbl, .mceToolbar, #wp-bbp_reply_content-editor-container, #bbp_reply_content_toolbargroup, .mceToolbar, #bbp_reply_content_toolbar1, #bbp_reply_content_toolbar1 tbody, .bbp-template-notice, legend, .bbp-submit-wrapper, .bbp-admin-links, #qt_bbp_reply_content_toolbar, #wp-bbp_reply_content-editor-container, #bbp_topic_tags { max-width:260px!important; }
.bbp-template-notice { width:160px!important; }
.bbp-submit-wrapper { margin-top:160px; float:left!important; }
#bbp_reply_submit { float:left!important; }
#bbp_reply_content_justifyright, #bbp_reply_content_fullscreen, #bbp_reply_content_unlink, #bbp_reply_content_link, #bbp_reply_content_redo, #bbp_reply_content_undo { display:none; }

.directory.groups #object-nav ul li, .page-template-frontpage1-php #object-nav ul li { padding:5px 9px!important; }
.directory.groups #object-nav ul li, .page-template-frontpage1-php #object-nav ul li { background-image: url( "images/spacer-tab.gif" ); }
#object-nav ul li, #object-nav2 ul li { padding:1px 3px!important; background-image:none; }
#object-nav ul li:hover, #object-nav2 ul li:hover { background-image:none; }
#object-nav ul li.current, #object-nav2 ul li.current { background:#ea8b00; background-image:none; }
#object-nav ul li a, #object-nav2 ul li a { font:12px Open Sans; font-weight:bold; }
.bp-user #object-nav ul li { padding:5px 0px; }
#tabs-container .tabs-nav li, #tabs-container2 .tabs-nav2 li { padding:14px 7px; }
#subnav ul li { padding-top:0px!important; padding-bottom:0px!important; }

.page-template-search-page-php #search-form { margin:60px 0 60px 0px; width:300px; }
.page-template-search-page-php .search-terms { font-size:16px; }
.page-template-search-page-php #search-which, .page-template-search-page-php select option { font-size:16px; }
.page-template-search-page-php #search-submit { margin-top:20px; margin-left:0px; }
#search-page-border { width:260px; border:none!important; }
.search-terms, #search-which { margin-bottom:7px; border:1px solid #cccccc!important; border-radius:5px; padding:4px; margin-left:0px!important; }

#comments { background-image:none; }
.commentlist div.comment-content { width:215px; }
.comment-counter { display:none; }
ol.commentlist div.comment-avatar-box { margin: 3px 10px 0 0; padding:3px; }
ol.commentlist div.comment-avatar-box img, .commentlist ul.children div.comment-avatar-box img { width:30px; height:30px; }
.commentlist ul.children div.comment-avatar-box { margin: 0 10px 0 0; }

ol.commentlist ul.children li .comment-body { padding-left:50px; width:262px; }
ol.commentlist ul.children li ul li .comment-body { padding-left:100px; width:200px; }
ol.commentlist ul.children li ul li ul li .comment-body { padding-left:150px; width:150px; }
ol.commentlist ul.children li ul li ul li ul li .comment-body { padding-left:150px; width:150px; }
ol.commentlist ul.children li ul  li ul li ul li ul li .comment-body { padding-left:150px; width:150px; }
ol.commentlist ul.children li ul li ul li ul li ul li ul li .comment-body {padding-left:150px; width:150px; }

ol.commentlist ul.children .comment-content { width:175px; }
ol.commentlist ul.children ul .comment-content { width:122px; }
ol.commentlist ul.children ul ul .comment-content { width:80px; }
ol.commentlist ul.children ul ul ul .comment-content { width:80px; }
ol.commentlist ul.children ul ul ul ul .comment-content { width:80px; }
ol.commentlist ul.children ul ul ul ul ul .comment-content { width:80px; }

#respond input#author, #respond input#email, #respond input#url { width:200px!important; }

.footer-left { width:90%; }
.footer-right { float:left; margin-top:15px; }

.wpcf7-text { width:200px!important; }
.wpcf7-form-control-wrap textarea { width:240px!important; }

ul#activity-stream li .activity-comments ul { margin-left:0px; }
body.activity-permalink .activity-list li .activity-avatar { width:100%; display:block; }
body.activity-permalink .activity-list li .activity-content { margin-left:0px; margin-top:180px; display:block; padding:0px; }

.standard-form #basic-details-section, .standard-form #blog-details-section, .standard-form #profile-details-section {width: 100%;}
#page-login-form { width:230px; }
#page-user-login { width:210px; }
#page-user-pass { width:210px; }

body.friends ul#members-list li { min-height:140px; }
#members-dir-list #members-list li { padding-bottom:50px; }

#blogs-list li { margin:20px 10px 0px 45px; }

.one_third { width:100%; }

}