/*
Theme Name: OneCommunity Child Theme
Tags: buddypress, two-columns, right-sidebar, fixed-width, flexible-width
Template: OneCommunity
*/

/* Inherit the default theme styles */
@import url('../OneCommunity/style.css');



@font-face {
  font-family: 'strenuousblack';
  src: url('fonts/strenuous_bl-webfont.eot');
  src: url('fonts/strenuous_bl-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/strenuous_bl-webfont.woff2') format('woff2'),
       url('fonts/strenuous_bl-webfont.woff') format('woff'),
       url('fonts/strenuous_bl-webfont.ttf') format('truetype'),
       url('fonts/strenuous_bl-webfont.svg#strenuousblack') format('svg');
  font-weight: normal;
  font-style: normal;
}





/* --------------------------------- *
 * CONTENTS                          *
 * --------------------------------- */
/**
 * $GROUPS...................
 *
 * $FRONTBOX.................
 * Slider....................
 * General...................
 * Forums....................
 *
 * $SIDEBAR..................
 * 
 * $WIDGETS..................
 * Recent posts..............
 */





/* --------------------------------- *
 * $GROUPS                           *
 * --------------------------------- */
.group-box-title a:link,
.group-box-title a:visited {
  color: #292e6f;
}

.group-box-details {
  color: #ff9801;
  font-style: normal;
}





/* --------------------------------- *
 * $FRONTBOX                         *
 * --------------------------------- */
/**
 * General styles.
 */
.frontpage .front-box-title {
  color: #292e6f;
  font-size: 24px;
}



/**
 * Slider.
 */
.oneByOne_item [class*="slider-item"],
.oneByOne_item [class*="slider-item"] a {
  color: #3ec4f3;
  text-shadow: none;
  background-color: transparent;
}

.oneByOne_item .slider-item-1 {
  color: #ff9801;
  font-family: 'strenuousblack';
  font-size: 3.8em;
}

.oneByOne_item .slider-item-2 {
  color: #292e6f;
  padding-right: 0;
  line-height: 1.2;
}

.oneByOne_item .slider-item-3 {
  margin-top: 2em;
}

.oneByOne_item .slider-item-3,
.oneByOne_item .slider-item-4,
.oneByOne_item .slider-item-5,
.oneByOne_item .slider-item-6 {
  font-size: 0.9em;
}

@media screen and (max-width: 1240px) {
  .oneByOne_item .slider-item-1 {
    min-height: 92px;
    line-height: 1;
    padding-top: 0.3em;
    padding-bottom: 0;
    font-size: 3em;
  }

  .oneByOne_item .slider-item-2 {
    font-size: 1em;
  }

  .oneByOne_item .slider-item-3 {
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 960px) {
  .oneByOne_item .slider-item-1 {
    font-size: 4em;
  }

  .oneByOne_item .slider-item-2 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 760px) {
  .oneByOne_item .slider-item-2 {
    font-size: 1.2em;
  }
}



/**
 * Forums box.
 */
.frontpage .front-box ul li.forum-lastposts .activity-content {
  color: #222;
  background-color: #c5eaf7;
}

.frontpage ul li.forum-lastposts .activity-content a,
.frontpage ul li.forum-lastposts .activity-content a:link,
.frontpage ul li.forum-lastposts .activity-content a:visited {
  color: #222;
}





/* --------------------------------- *
 * $SIDEBAR                          *
 * --------------------------------- */
.sidebar-title {
  color: #292e6f;
}



/**
 * Login box.
 */
#right-login {
  margin-top: 0;
}





/* --------------------------------- *
 * $WIDGETS                          *
 * --------------------------------- */
/**
 * Recent Posts Widget.
 */
.recent-post-time {
  float: none;

  color: #ff9801;
  font-style: normal;
}
